/* typography */
$big_shoulder_font_family: 'Big Shoulders Display', cursive;
$lexend_deca_font-family: 'Lexend Deca', sans-serif;
$four_hundred_font-weight: 400;
$seven_hundred_font-weight: 700;
$font-size: 0.9375rem;

/*colors */
$bright_orange:hsl(31, 77%, 52%);
$dark_cyan: hsl(184, 100%, 22%);
$very_dark_cyan: hsl(179, 100%, 13%);
$transparent_white: hsla(0, 0%, 100%, 0.75);
$very_light_gray: hsl(0, 0%, 95%);

/* media queries */
$mobile-width: 30em;
@mixin mobile {
    @media (max-width: #{$mobile-width}){
        @content;
    }
}
//@media (min-width:1201px) and (max-width:1600px) {
$laptop_min-width: 75.0625em;
$laptop_max-width:100em;
@mixin laptop{
    @media ((min-width: #{$laptop_min-width}) and (max-width: #{$laptop_max-width})){
            @content;
        }
}
